*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2025;
    font-family: 'Poppins', sans-serif;
}
.book{
    width: 92vw;      
    display: flex;
         
}



